@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import 'lib/bootstrap';
/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
@import "common/common";
@import "common/btn";
@import "common/form";
@import "common/checkbox-radio";
/* blocks */
@import "blocks/header-panel";
@import "blocks/header-page";
@import "blocks/main-nav";
@import "blocks/sidebar";
@import "blocks/product-sort";
@import "blocks/product-list";
@import "blocks/pagination";

.content {
    padding-top: 20px;
    padding-bottom: 20px;
    @include font-size(17px);
}

.home-title {
    margin-bottom: 10px;
    font-size: 28px;
    text-transform: uppercase;
}
